# Ігнорувати файл з паролями
.env
*.decrypted~env.*.enc

# Конфіги
dspace/config/local.cfg
dspace/config/submission-forms.xml
ui-config/config.yml
nginx/conf.d/dspace.conf

archive/
docs/AGENTS.md
docs/hello-world.md
chat.json
docs/snippets/dspace-tracker.js
docs/DOCKER-SECRETS.md
